body {
	background-color: #ecf0f5;
}

.foreground-content{
  z-index:2;
  position:relative;
  display:block;
  text-align:center;
  color: #fff;
}

.foreground-content > img{
	max-width: 20vh;
}

.info-panel{
  margin-top: 15vh;
  background-color: rgba(60,60,60,0.8);

}

.teampage-header {
	background-image: url("images/idx-cover.jpg");
	background-repeat: no-repeat; 
	background-size: cover; 
	background-attachment: fixed;
	background-position: 50% 70%;
}

